/*UTILITY*/

body {
    min-width: 300px;
}

.contact-container {
    width: 100%;
    background: rgb(49, 173, 255);
    border: 8px solid rgb(0, 0, 0);
    padding: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}

form label,
p {
    font-size: 18px;
}

.form-group {
    display: flex;
}

.form-control {
    width: 100%;
    max-width: 500px;
    background-color: white;
    color: black;
    margin-bottom: .75rem;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    padding: .175rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
}

.form-control a {
    color: rgb(0, 0, 0);
}

.submit {
    width: 100px;
    height: 35px;
    background: linear-gradient(#31adff, #0000ff);
    text-align: center;
    padding: 2px 3px 2px;
    margin-top: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-left: 10px;
}

.submit a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.submit:hover {
    background: linear-gradient(#0000ff, #31adff);
}

.home {
    width: 100px;
    height: 35px;
    background: linear-gradient(#31adff, #0000ff);
    text-align: center;
    padding: 2px 3px 2px;
    margin-top: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    margin-left: 10px;
}

.home a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.home:hover {
    background: linear-gradient(#0000ff, #31adff);
}