/*UTILITY*/

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
    color: rgb(255, 255, 255);
    min-width: 300px;
}

header {
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0);
    padding: 0;
    margin-bottom: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
}

#logo {
    width: 200px;
    height: 70px;
    float: left;
    margin-top: auto;
}

nav {
    float: right;
    margin-right: 20px;
    margin-bottom: 5px;
    padding-top: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
}

nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav li a:hover {
    color: rgb(49, 173, 255);
    text-decoration: underline;
}

section#info {
    width: 100%;
    height: 420px;
    background: url(/assets/sportscenter.jfif);
    background-size: 100% 100%;
    padding: 0;
}

.infocontent {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    color: rgb(255, 255, 255);
}

section#info h1 {
    font-size: 65px;
    margin-top: 35px;
    margin-bottom: 30px;
    font-family: 'Oleo Script Swash Caps', cursive;
    line-height: 1em;
}

section#info hr {
    width: 100px;
    height: 3px;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 255);
}

section#info h3 {
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#info .button {
    width: 180px;
    height: 35px;
    background: linear-gradient(#0000ff, #31adff);
    font-size: 1.5em;
    padding: 4px 1px 1px;
    margin: auto;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
}

section#info .button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section#info .button:hover {
    background: linear-gradient(#31adff, #0000ff);
}

section#services {
    width: 100%;
    height: 425px;
    background: rgb(49, 173, 255);
    margin: 0 auto 0;
    padding: 10px 0;
}

section#services h2 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#services hr {
    width: 100px;
    height: 3px;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 255);
}

section#services aside {
    width: 286px;
    height: 315px;
    float: left;
    text-align: center;
    margin-left: 180px;
}

section#services aside img {
    width: 45%;
    height: 100px;
    background: rgb(200, 200, 200);
    text-align: center;
}

section#services aside h3 {
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 5px;
    margin-left: -3px;
    color: rgb(255, 255, 255);
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#services aside p {
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#services .activity {
    width: 150px;
    height: 35px;
    background: linear-gradient(#0000ff, #31adff);
    font-size: 1.5em;
    text-align: center;
    padding: 5px 1px 1px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 40px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 70px;
    margin-bottom: 40px;
}

section#services .activity a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section#services .activity:hover {
    background: linear-gradient(#31adff, #0000ff);
}

section#about {
    width: 100%;
    height: 330px;
    background-size: 100% 100%;
    background: rgb(11, 143, 224);
    padding: 10px 0;
}

section#about h2 {
    font-size: 45px;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
}

section#about hr {
    width: 100px;
    height: 3px;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 255);
}

section#about p {
    font-size: 1.7em;
    margin: auto;
    margin-left: 300px;
    margin-right: 250px;
    margin-bottom: 30px;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(255, 255, 255);
}

section#about .button {
    width: 130px;
    height: 35px;
    background: linear-gradient(#0000ff, #31adff);
    text-align: center;
    padding: 1px 1px 1px;
    border: 1px solid rgb(150, 150, 150);
    font-size: 1.5em;
    border-radius: 40px;
    cursor: pointer;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 775px;
}

section#about .button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section#about .button:hover {
    background: linear-gradient(#31adff, #0000ff);
}

section#get {
    width: 100%;
    height: 380px;
    background: rgb(49, 173, 255);
    padding: 35px 0;
}

section#get h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(255, 255, 255);
}

section#get hr {
    width: 100px;
    height: 3px;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 0 none;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 255);
}

section#get p {
    font-size: 1.7em;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: rgb(255, 255, 255);
}

section#get .getcontact .contact {
    width: 150px;
    height: 100px;
    float: left;
    text-align: center;
    margin-left: 300px;
}

section#get .contact img {
    width: 25%;
    height: 37px;
    background: rgb(200, 200, 200);
    margin-bottom: 20px;
}

section#get .contact h3 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: -3px;
    color: rgb(255, 255, 255);
}

section#get .formpage {
    width: 180px;
    height: 55px;
    background: linear-gradient(#0000ff, #31adff);
    font-size: 1.5em;
    padding: 3px 3px 3px;
    margin-top: 20px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
}

section#get .formpage a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section#get .formpage a:hover {
    background: linear-gradient(#31adff, #0000ff);
}

section#get .linksize {
    font-size: 1.5em;
}

.contact a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1em;
}

.contact a:hover {
    color: #31adff;
    text-decoration: underline;
}

footer {
    width: 100%;
    height: 225px;
    background: rgb(0, 0, 0);
    padding: 5px 0;
}

.footercontent {
    margin-top: 25px;
    margin-left: 250px;
}

.footercontent h3 {
    width: 250px;
    height: 20px;
    margin-top: 2px;
    font-size: 15px;
    margin-left: 35px;
    color: rgb(255, 255, 255);
}

.activities {
    width: 250px;
    height: 20px;
    margin-top: 30px;
    font-size: 1.5em;
    margin-left: 35px;
}

.activities a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.activities a:hover {
    color: #0b8fe0;
    text-decoration: underline;
}

.footercontent img {
    width: 15%;
    height: 150px;
    margin-top: 10px;
    float: right;
    margin-right: 325px;
}

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}


/* THESE RULES APPLY TO THE MEDIUM REZ DISPLAY, AND CASCADE DOWN TO THE LOW REZ DISPLAY */

@media (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
        margin: auto;
    }
    #logo {
        width: 40%;
        height: auto;
    }
    section#info {
        width: 900px;
        height: auto;
    }
    section#info .infocontent {
        width: 100%;
        height: 375px;
        padding-top: 50px;
        text-align: center;
        flex-wrap: wrap;
        color: rgb(255, 255, 255);
    }
    section#services {
        width: 900px;
        height: auto;
        margin: 0;
    }
    section#services aside {
        width: 33vw;
        margin: auto;
    }
    section#services .row {
        flex-wrap: nowrap;
        padding: 10px 0;
    }
    section#services .row aside {
        flex-direction: row;
    }
    section#about {
        width: 900px;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
    }
    section#about .aboutcontent {
        font-size: 1em;
        flex-wrap: wrap;
        justify-content: left;
        background: rgb(11, 143, 224);
        padding: 10px 0;
        margin: auto;
    }
    section#about .aboutcontent p {
        margin: auto;
        height: auto;
        width: 95vw;
        display: flex;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 10px;
    }
    section#about .aboutcontent .button {
        margin: auto;
        font-size: 1.5em;
    }
    section#get {
        width: 900px;
        height: auto;
    }
    section#get .getcontact {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
    }
    section#get .getcontact .contact {
        width: 100%;
        height: auto;
        margin: 0;
    }
    section#get .formpage {
        margin-left: 70px;
    }
    section#get .getcontact .contact img {
        width: 20%;
    }
    section#get .contact h3 {
        width: 100%;
    }
    footer {
        width: 900px;
        height: 180px;
        background: rgb(0, 0, 0);
    }
    .footercontent {
        margin: 0;
        height: auto;
        padding-top: 10px;
        justify-content: space-between;
    }
    .footercontent h3 {
        width: 100%;
        height: auto;
        line-height: 1.5em;
        margin: 0;
        margin-left: 0;
        padding-left: 25px;
    }
    .footercontent img {
        width: 25%;
        margin: auto;
        margin-right: 50px;
    }
    .activities {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-left: 0;
        padding-left: 25px;
    }
}


/* THESE RULES APPLY TO THE LOW REZ DISPLAY, AND DO NOT CASCADE */

@media (max-width: 320px) {
    header {
        width: 100%;
        height: auto;
        margin: auto;
    }
    #logo {
        width: 40%;
        height: auto;
    }
    section#info {
        width: 800px;
        height: auto;
    }
    section#info .infocontent {
        width: 800px;
        height: 375px;
        padding-top: 50px;
        text-align: center;
        flex-wrap: wrap;
        color: rgb(255, 255, 255);
    }
    section#services {
        width: 100%;
        width: 800px;
        height: auto;
        margin: 0;
    }
    section#services aside {
        width: 33%;
        margin: auto;
    }
    section#services .row {
        flex-wrap: nowrap;
        padding: 10px 0;
    }
    section#services .row aside {
        flex-direction: row;
    }
    section#about {
        width: 800px;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
    }
    section#about .aboutcontent {
        font-size: 1em;
        flex-wrap: wrap;
        justify-content: left;
        background: rgb(11, 143, 224);
        padding: 10px 0;
        margin: auto;
    }
    section#about .aboutcontent p {
        margin: auto;
        height: auto;
        width: 200vw;
        display: flex;
        font-size: 1.7em;
        text-align: center;
        margin-bottom: 10px;
    }
    section#about .aboutcontent .button {
        margin: auto;
        font-size: 1.5em;
    }
    section#get {
        width: 800px;
        height: auto;
    }
    section#get .getcontact {
        width: 800px;
        height: auto;
        display: flex;
        justify-content: space-evenly;
    }
    section#get .getcontact .contact {
        width: 100%;
        height: auto;
        margin: 0;
    }
    section#get .formpage {
        margin-left: 70px;
    }
    section#get .getcontact .contact img {
        width: 20%;
    }
    section#get .contact h3 {
        width: 100%;
    }
    footer {
        width: 800px;
        height: 180px;
        background: rgb(0, 0, 0);
    }
    .footercontent {
        margin: 0;
        height: auto;
        padding-top: 10px;
        justify-content: space-between;
    }
    .footercontent h3 {
        width: 100%;
        height: auto;
        line-height: 1.5em;
        margin: 0;
        margin-left: 0;
        padding-left: 25px;
    }
    .footercontent img {
        width: 25%;
        margin: auto;
        margin-right: 50px;
    }
    .activities {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-left: 0;
        padding-left: 25px;
    }
}